.header {
    display : flex;
    justify-content: space-between;
    padding: 20px;
}
.header__title {
    color: rgb(10, 10, 105);
    font-size: 25px;
}
.header__nav {
    color: rgb(10, 10, 105);
    margin-left: 10px;
}
.main {
    margin:50px 0;
}
.main__img {
    display:block;
    width:50%;
    height:50%;
    margin:0 0 0 auto;
}
.main__inner {
    margin-top:-100px;
}
.main__title {
    font-size: clamp(5px, 9vw, 60px);
}
.main__box {
    background-color: rgb(10, 10, 105);
    width :75%;
    height:150px;
}